*{
    margin: 0;
    padding: 0;
}

#body{
    background-color: black;
}

#sp{
    height: 100%;
    display: flex;
    align-items: center;
    width: 25%;
}

#sp > img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

#navbar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}

#home{
    width: 9%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(59, 59, 58, 0.823);
    border-radius: 50%;
    margin-right: 6px;
}
#home > img{
    height: 50%;
}

#search{
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 40%;
}

#bar{
    width: 82%;
    background-color: rgba(59, 59, 58, 0.823);
}
#bar > input{
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 58, 0.823);
    color: white;
    font-size: 1.25em;
    border: 0;
    border-right: 1px solid grey;
}

#glass{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    background-color: rgba(59, 59, 58, 0.823);
}

#more{
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(59, 59, 58, 0.823);
}

#len{
    display: flex;
    width: 91%;
    border: 2px solid black;
    border-radius: 50px;
    overflow: hidden;
}

#pre{
    background-color: white;
    color: black;
    padding: 7px;
    border-radius: 25px;
    height: 45%;
}

#acc{
    display: flex;
    width: 25%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

#app{
    display: flex;
    color: white;
    align-items: center;
}

#bell{
    display: flex;
    align-items: center;
}

#user{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

#panel{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}

#liked{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 5%;
    justify-content: space-evenly;
    align-items: center;
    height: 1047.6px;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 10px;
    box-shadow: 2px 2px 8px grey;
}

#liked > img{
    width: 80%;
    height: 55px;
    background-color: rgb(41, 41, 41);
}

#play{
    border: 1px solid rgb(39, 39, 39);
    border-radius: 10px;
    box-shadow: 2px 2px 8px grey;
    margin-left: 10px;
    width: 92%;
    overflow: hidden;
}

#top{
    display: flex;
    color: white;
    background-color: rgb(36, 36, 36);
}

#top > div{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(41, 41, 41);
    margin: 10px;
    margin-right: 10px;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 15px;
    
}

#tile{
    display: flex;
    color: white;
    align-items: center;
    background-color: rgb(41, 41, 41);
    border-radius: 7px;
    overflow: hidden;
    width: 20%;
    margin: 15px;
}

#tile > img{
    height: 80px;
}

#tile > p{
    display: inline;
    padding-left: 5px;
}

#middle {
    display: flex;
    justify-content: space-evenly;
}

h1{
    color: white;
    margin: 30px;
}

#pic {
    display: flex;
    justify-content: space-around;
}
#pic > img{
    width: 160px;
    height: 160px;
}

#player{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
}
#song{
    height: 80%;
    color: white;
    display: flex;
    align-items: center;
    width: 20%;
}

#player{
    color: white;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid grey;
    position: sticky;
    bottom: 0px;
    width: 100%;
}
#info{
    align-items: center;
    margin-right: 10px;
}
#song > img{
    height: 70%;
    margin: 10px;
}

#radio{
    width: 40%;
    justify-content: center;
}

#up{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
#up > p{
    display: inline;
    margin: 10px;
}

#line{
    display: flex;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.7);
    width: 90%;
    align-items: center;
    color: rgba(128, 128, 128, 0.7);
}

#bot{
    display: flex;
    justify-content: space-evenly;
}

#opt{
    width: 20%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
